* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    font-family: 'rubik'
}

header,
footer,
.select {
    height: 70px;
}

header {
    color: #29B1DD;
    font-family: 'acme';
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
    font-weight: normal;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: #DDDDDD;
    height: calc(100% - 210px);
    padding: 1.5rem;
}

main #icons {
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

#icons>div {
    margin: 3rem 2rem;
    padding: 1rem 0;
    text-align: center;
    width: 15%;
    height: 90px;
    border-radius: 1rem;
    box-shadow: 2px 2px gray;
    background-color: #F5F5F5;
    text-transform: uppercase;
}

i {
    font-size: 2.5rem;
}

.select {
    width: 100%;
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    color: white;
}

.select>h2 {
    margin-right: 2rem;
}